<p id="notice"><%= notice %></p>

<%= raw(@prefilled_ror_contents) %>

<%= link_to 'Edit', edit_form_template_filled_form_path(@form_template, @filled_form) %> |
<%= link_to 'Back', form_templates_path %>
<br />
<br />